body {
	background-color: #E2EEFA;
}

.wrapper {
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header {
	display: flex;
	position: relative;
	border-bottom: 1px ridge rgb(14,54,125);
}

p.header {
	text-align: center;
	margin: 0em auto;
	color: rgb(14,54,125);
	/* color: #3178C4; */
}

main {
	height: 50vw;
}

.upper {
	height: 20vw;
	display: flexbox;
	background-color: #f0f0f0;
	border: 0.1em;
	margin:0 0.2em;
	border-color: blueviolet;
}

#teaching-room {
	position: relative;
}
.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}
.slider-container {
	position: absolute;
	bottom: 0px;
	left: 80%;
	transform: translateX(-50%);
	width: 200px;
}


.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 100%;
}

.video-area {
	height: 28vw;
}

.block {
	margin-top: 1vw;
	margin-bottom: 1vw;
	background: linear-gradient(90deg,#3888dd,#2458c9,#3583d7);
	background-size: 200% auto;
	border-radius: 26px;
	box-shadow: 0 12px 24px rgb(12 79 232 / 16%);
	color: white;
}

.block p {
	color: #0c1d41;
	margin: 0 2em;
}

footer {
	width: 100%;
	display: flex;
	position: absolute;
	bottom: 0;
	background-color: red;
}

video {
    width: 300px;
    height: 300px;
    object-fit: cover;
}